---
import BaseHead from '@/components/BaseHead.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '@/components/common/FormattedDate.astro';
import { Image } from 'astro:assets';
import ShuffledText from '@/components/common/ShuffledText'

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const today = new Date();
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title='GreenField.tar' description='書き溜め' />
	</head>

	<body>
		<main>
			<div class="heading">
				<h1><ShuffledText client:only="react">青い畑.tar</ShuffledText></h1>
			</div>
			<ul>
				{
					posts.map((post) => (
						<li>
							<a href={`/blog/${post.id}/`}>
								<div class="thumb">
									{post.data.heroImage && (
										<Image width={720} src={post.data.heroImage} alt="" />
									)}
								</div>
								<h4>{post.data.title}</h4>
								<p>
									<FormattedDate date={post.data.pubDate} />
								</p>
							</a>
						</li>
					))
				}
			</ul>
			<hr />
			<footer>
				© {today.getFullYear()} salieri256. All rights reserved.
			</footer>
		</main>
	</body>
</html>

<style>
* {
	color: #0423f0;
	word-break: break-all;
}

*::selection {
	color: white;
	background-color: #0423f0;
}

body {
	padding: 1rem;
	background-color: #edeef3;
}

main {
	border: 1px solid #0423f0;
}

.heading {
	padding: 2rem;
}

hr {
	border: none;
	height: 1px;
	background-color: #0423f0;
}

footer {
	padding: 0.5rem 2rem;
}

ul {
	padding: 0 2rem;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(min(23rem, 100%), 1fr));
	list-style-type: none;
}

.thumb {
	overflow: hidden;
	scale: 1;
	transition: all 0.3s 0s cubic-bezier(0, 0.55, 0.45, 1);
}

.thumb img {
	transition: all 0.3s 0s cubic-bezier(0, 0.55, 0.45, 1);
}

.thumb:hover {
	scale: 0.95;
}

.thumb:hover img {
	scale: 1.1;
}
</style>
