---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '@/components/BaseHead.astro';
import { Image } from 'astro:assets';
import FormattedDate from '@/components/common/FormattedDate.astro';
import 'github-markdown-css';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="markdown-body">
		<main>
			<article>
				<div>
					{heroImage && <Image src={heroImage} alt="" />}
				</div>
				<div>
					<div>
						<div>
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div>
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1>{title}</h1>
					</div>
					<slot />
				</div>
			</article>
		</main>
	</body>
</html>

<style>
.markdown-body {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
	padding: 45px;
}
@media (max-width: 767px) {
	.markdown-body {
		padding: 15px;
	}
}
</style>
